<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="./css/index.css" />
    <title>Dobraccoon's movie</title>
  </head>

  <body>
    <div class="main">
      <div class="header">
        <div class="logo"></div>
        <div class="menu">
          <div class="menu-item"><p>Мое кино</p></div>
          <div class="menu-item">Магазин</div>
          <div class="menu-item">Покупки</div>
          <div class="menu-item"></div>
        </div>
        <div class="profile"></div>
      </div>
      <div class="movie-content">
        <div class="new-in-subscription">
          <div class="section-name">
            <h2>Новое в подписке</h2>
            <div class="next-movie-list-small-btn"></div>
          </div>
          <div class="new-in-subscription-content">
            <div
              id="subscription-movie-1"
              class="new-in-subscription-movie-block"
            >
              <div class="new-in-subscription-movie-image">
                <div class="rating">8.4</div>
              </div>
              <div class="movie-name">Миньены</div>
              <div class="movie-description">2015, Детский, Комедия</div>
            </div>
            <div
              id="subscription-movie-2"
              class="new-in-subscription-movie-block"
            >
              <div class="new-in-subscription-movie-image">
                <div class="rating">8.3</div>
              </div>
              <div class="movie-name">Зверополис</div>
              <div class="movie-description">2016, Детский, Приключения</div>
            </div>
            <div
              id="subscription-movie-3"
              class="new-in-subscription-movie-block"
            >
              <div class="new-in-subscription-movie-image">
                <div class="rating">5.2</div>
              </div>
              <div class="movie-name">Мулан</div>
              <div class="movie-description">2020, боевик, фэнтези, драма</div>
            </div>
            <div class="next-movie-list-big-btn"></div>
          </div>
        </div>
        <div class="recomendations">
          <div class="section-name">
            <h2>Рекомендуем посмотреть</h2>
            <div class="next-movie-list-small-btn"></div>
          </div>
          <div class="recomendations-content">
            <div id="recomendations-movie-1" class="recomendations-movie-block">
              <div class="recomendations-movie-image">
                <div class="rating">6.8</div>
              </div>
              <div class="movie-name">Доктора Стрэндж</div>
              <div class="movie-description">2016, фантастика, фэнтези</div>
            </div>
            <div id="recomendations-movie-2" class="recomendations-movie-block">
              <div class="recomendations-movie-image">
                <div class="rating">5.2</div>
              </div>
              <div class="movie-name">Стекло</div>
              <div class="movie-description">2019, Детский, Комедия</div>
            </div>
            <div id="recomendations-movie-3" class="recomendations-movie-block">
              <div class="recomendations-movie-image">
                <div class="rating">7.1</div>
              </div>
              <div class="movie-name">Хан Соло, Звездные войны</div>
              <div class="movie-description">2018, мелодрама, комедия</div>
            </div>
            <div class="next-movie-list-big-btn"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
