<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Auth</title>
  </head>
  <body>
    <form action="greetings.html">
      <input type="text" value="login" /><br />
      <input type="password" value="password" /><br />
      <input type="text" value="login as in passport" /><br />
      <p>Пол:</p>
      <input id="radio1" type="radio" name="radion_name" />мужской<br />
      <input id="radio2" type="radio" name="radion_name" />женский<br />
      <input id="radio3" type="radio" name="radion_name" />👽<br />
      <input id="radio" type="date" name="date_name" /><br />
      <p>
        Город:
        <select name="select_name" id="select_id">
          <option value="msc">Moscow</option>
          <option value="ne_msc">Ne Moscow</option>
        </select>
      </p>
      <br />
      <button type="submit">Отправить форму</button>
    </form>
  </body>
</html>
